<p>
  <strong>Title</strong>
  <%= @case.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @case.author %>
</p>

<p>
  <strong>Year:</strong>
  <%= @case.year %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @case.abstract %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @case.subject %>
</p>
